@import "tailwindcss";

@theme {
  --color-brand-background: #F9F7F5;
  --color-brand-surface: #FFFFFF;
  --color-brand-primary: #4A90E2;
  --color-brand-secondary: #D97706;
  --color-brand-text: #2C3E50;
  --color-brand-muted-text: #7F8C8D;
  --color-brand-border: #E0E0E0;

  --font-devanagari: var(--font-tiro-devanagari);
}

body {
  background-color: var(--color-brand-background);
  color: var(--color-brand-text);
  font-family: sans-serif;
}
